.list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list-item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.list-item__region--TheCrownlands {
  background-color: #e23666;
}

.list-item__region--TheNorth {
  background-color: #90948c;
}

.list-item__region--TheWesterlands {
  background-color: #df1514;
}

.list-item__region--TheVale {
  background-color: #73bfe3;
}

.list-item__region--Dorne {
  background-color: #8d0306;
}

.list-item__region--TheRiverlands {
  background-color: #3944bc;
  color: #fff;
}

.list-item__region--IronIslands {
  background-color: #f7d034;
}

.list-item__region--TheReach {
  background-color: #2c7e25;
}

.list-item__region--TheStormlands {
  background-color: #e5c23f;
}

.list-item__region--TheNeck {
  background-color: #c660ce;
}

.list-item__region--null {
  background-color: #fff;
}
