.App {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  height: 100vh;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  background-color: transparent;
}

.nav-bar a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.nav-bar a:hover {
  color: #85012a;
  background-color: #fafafa;
}

.page-title {
  font-size: 4rem;
  color: #fafafa;

  margin-top: 15%;
}
