.data-block {
  overflow: scroll;
}

.data-block__title {
  border-bottom: 1px solid #fafafa;
  font-size: 0.8rem;
}

.data-block__content-list {
  width: 100%;
}

.data-block__content-row {
  border-bottom: 1px solid #ddd;
  padding: 0.25rem;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
}

.data-block__content-row-title {
  font-weight: bold;
  width: 100%;
  flex-shrink: 0;
}

.data-block__content-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .data-block__content-row {
    font-size: 1rem;

    flex-direction: row;
  }
  .data-block__content-row-title {
    width: 30%;
  }
  .data-block__title {
    font-size: 1.5rem;
  }
}

/* @media screen and (min-width: 1200px) {
  .data-block__content-table div:first-child {
    width: 30%;
  }
} */
