.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#search-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#search-form > div {
  width: 30%;
  margin-right: 2rem;
}

#search-btn,
.next-button,
.prev-button {
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  opacity: 0.8;
  background-color: #d84844;
  margin: 2rem;
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-btn:hover {
  opacity: 1;
}

.search-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-of-houses-page-title {
  color: #ffe251;
  font-size: 3rem;
  margin-top: 15%;
  text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);
}

.next-prev-buttons {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
}
