.list-of-houses {
  display: flex;
  flex-direction: column;
}

#search-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#search-form > div {
  width: 100%;
  margin-bottom: 0.5rem;
}

.search-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.next-prev-buttons {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
}

#search-btn {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

.prev-button,
.next-button {
  background-image: linear-gradient(
    to right,
    #e040fb 0%,
    #00bcd4 51%,
    #e040fb 100%
  );
}

#search-btn,
.prev-button,
.next-button {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px #eee;
  border: 1px solid #ced4da;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  opacity: 0.9;
  margin: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-btn:hover,
.prev-button:hover,
.next-button:hover {
  background-position: right center;
  color: #222;
}

@media screen and (min-width: 1200px) {
  #search-form > div {
    width: 30%;
    margin-right: 2rem;
  }
}
